<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlServer" connectionString="Server=PC2;Database=ProductSearcher;User Id=sa;Password=Sqldockerp@ssword$;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>